.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-color {
  color: #0a0f10;
}
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: rgb(219, 204, 204);
  text-align: center;
  margin:0px;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(1px + 5vmin); */
  /* color: white; */
  
  
}


.App-Fra{
  border: solide ;
  margin: 0;
}